body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

tspan {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}
