$footer-padding: 1rem;
$widescreen: 1024px;
$fullhd: 1152px;

@import "~bulma/bulma.sass";
@import "~bulma-timeline";
@import "./helpers/index";
@import "./mixins/index";
@import "./base/index";
@import "./layouts/index";
@import "./components/index";
