.hackfest {
  .hero-hackathon {
    background: url("https://ghost.org/images/docs/bg-home.svg") no-repeat, linear-gradient(60deg, #562db5, #19afc9);
    text-align: center;
  }

  .featured {
    position: relative;
    margin-top: -100px;
  }

  .about {
    justify-content: space-between;
    .objectives {
      padding-left: 20px;
      li {
        position: relative;
        &:not(:last-child) {
          margin-bottom: 8px;
        }
        &:after {
          content: "";
          background-color: transparent;
          position: absolute;
          left: -16px;
          top: 5px;
          width: 5px;
          border-bottom: 2px solid #466cc0;
          height: 11px;
          border-right: 2px solid #466cc0;
          transform: rotate(45deg);
        }
      }
    }
  }

  .organizers {
    display: flex;
    align-items: center;
    justify-content: center;
    > a {
      &:not(:last-child) {
        margin-right: 48px;
      }
    }
  }

  .faq {
    .column {
      > div {
        margin-bottom: 22px;
        h6 {
          margin-bottom: 8px;
        }
      }
    }
  }
}

.is-bg-teal {
  background-color: rgba(#03a9f4, 0.1);
}
