.hackfestktm {
  .hero-hackathon {
    background: url("https://ghost.org/images/docs/bg-home.svg") no-repeat, linear-gradient(60deg, #562db5, #19afc9);
    h1 {
      margin-top: 24px;
      font-weight: 600;
    }
  }

  .featured {
    @include medium {
      margin-top: -100px;
    }

    @include large {
      margin-top: -200px;
    }
  }
}
